@font-face {
    font-family: "Chomsky Regular";
    src: local("Chomsky Regular"), url("C:\Users\caiov\AppData\Local\Microsoft\Windows\Fonts\Chomsky.otf") format("opentype");
}

* {
    text-align: center;
    margin: 0px;
    padding: 0px
}
h1{
    margin-top: 40px;
}
body {
    background-color: black;
    color: white;
    font-size: x-large;
    font-family: 'Chomsky Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}


.container {
    background-color: black(0, 0, 0);
    padding: 20px;
    border-radius: 15px;
}

.container2margin {
    font-family: "Chomsky Regular";
    border: 2px solid white;
    border-radius: 12px;
}

.container2margin h1 {
    color: white
}

.container2margin p {
    color: white
}

.divisoes {
    background-color: rgb(202, 67, 67);
    width: 165px;
    height: auto;
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    float: left;
    margin-right: 3px;
}

.divisoes:hover {
    cursor: pointer;
    color: white
}

.entrada {
    background-color: black;
    width: 250px;
    color: white;
    border-radius: 12px;
    font-family: 'Chomsky Regular';

}

.botaoEntrar {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
}

#lista1 span {
    width: 200px;
    display: block;
    text-align: left;
}

#lista1 {
    list-style: none;
    margin-left: 150px;
}

#lista1 li {
    float: left;
    width: 300px;
    margin-bottom: 20px;
    text-align: left;
}

#Divisao1 {
    background-color: rgb(20, 150, 20);
}

#Divisao1:hover {
    background-color: rgb(1, 41, 1);
    color: white;
}

#Divisao2 {
    background-color: rgb(207, 207, 62);
}

#Divisao2:hover {
    background-color: rgb(124, 124, 3);
}

#Divisao3:hover {
    background-color: rgb(114, 0, 0);
}

#Central {
    margin: auto;
    height: auto;
    width: 570px;
    align-items: center;
    justify-content: center;
}